<html>
    <head>
        <title>Handle POST requests with Flask</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Profile</h1>
            </div>
            <div id="content">
		<table style="width:100%">
    		<tr>Hello, {{u}}!</tr>
  		<tr>
		  <dl>
		  <dd>username: {{ myprofile['username'] }}</dd>
                  <dd>password: {{ myprofile['password'] }}</dd>
                  <dd>email: {{ myprofile['email'] }}</dd>
		  </dl>
  		</tr>
		</table>
            </div>
            </div>
            <div class="title">
                </form>
            </div>
            </div>
            </div>
        </div>
    </body>
</html>
